body {
    background-color: #f1f0ea;
    font-family: Arial, sans-serif;
}

h2, h4 {
    color: #006633;
}

.btn-primary {
    background-color: #41c532;
    border: none;
}

.btn-primary:hover {
    background-color: #2e9e23;
}

.card-header {
    background-color: #78777a;
    color: white;
}
