#tablaUsuarios th, #tablaUsuarios td {
    text-align: center;
    vertical-align: middle;
}

#tablaUsuarios tr:hover {
    background-color: #f2f2f2;
}

.form-switch .form-check-input {
    cursor: pointer;
}

label.form-check-label {
    margin-left: 8px;
    font-weight: 500;
}
